In This NoteBook:
1. Create Database
2. Create Collection
3. Insert
4. Find
5. Query
6. Sort
7. Delete
8. Drop Collection
9. Update
10. Limit

MongoDB
1. MongoDB stores data in JSON-like documents, which makes the database very flexible and scalable.
2. To be able to experiment with the code examples in this Notebook, you will need access to a MongoDB database.
3. You can download a free MongoDB database at https://www.mongodb.com.
Or get started right away with a MongoDB cloud service at https://www.mongodb.com/cloud/atlas.

PyMongo
1. Python needs a MongoDB driver to access the MongoDB database.
2. In this tutorial we will use the MongoDB driver "PyMongo".
3. We recommend that you use PIP to install "PyMongo".
4. PIP is most likely already installed in your Python environment.
5. Navigate your command line to the location of PIP, and type the following:

In [1]:
pip install PyMongo

Requirement already satisfied: PyMongo in c:\users\himan\anaconda3\lib\site-packages (4.6.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\himan\anaconda3\lib\site-packages (from PyMongo) (2.6.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo

1. Create Database
2. To create a database in MongoDB, start by creating a MongoClient object, then specify a connection URL with the correct ip address and the name of the database you want to create.
MongoDB will create the database if it does not exist, and make a connection to it.

In [3]:
# Create a database called "mydatabase":
import pymongo

cluster = pymongo.MongoClient("mongodb+srv://himanshupabbi:5qDnEG8Hn8mXssIC@cluster0.gicl2ct.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

db = cluster["test"]

In [4]:
collection=db["test"]

In [5]:
pos={"Name":"Himanshu","Course":"BCA","RollNo":1}

## Insert Document¶
1. A document in MongoDB is the same as a record in SQL databases.

2. To insert a record, or document as it is called in MongoDB, into a collection, we use the insert_one() method.

3. The first parameter of the insert_one() method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert.

In [6]:
collection.insert_one(pos)

InsertOneResult(ObjectId('661244d7515b6c8b4f554c5a'), acknowledged=True)

In [7]:
document={"Name":"Himanshu","Course":"BCA","RollNo":1,"Age":23}

In [8]:
collection.insert_one(document)

InsertOneResult(ObjectId('661244d7515b6c8b4f554c5b'), acknowledged=True)

In [9]:
doc1={"Gender":"Male","Address":"Delhi"}

In [10]:
doc2={"Hobbies":["Cricket","Hockey"],"Address":"Delhi"}

## Insert Multiple Documents¶
1. To insert multiple documents into a collection in MongoDB, we use the insert_many() method.

2. The first parameter of the insert_many() method is a list containing dictionaries with the data you want to insert:

In [11]:
collection.insert_many([doc1,doc2])

InsertManyResult([ObjectId('661244d7515b6c8b4f554c5c'), ObjectId('661244d7515b6c8b4f554c5d')], acknowledged=True)

In [12]:
doc3={"Name":"Himanshu","Course":"BCB","RollNo":2,"Age":24}

In [13]:
doc4={"Name":"Ram","Course":"MBA","RollNo":3,"Age":25}

In [14]:
collection.insert_many([doc3,doc4])

InsertManyResult([ObjectId('661244d7515b6c8b4f554c5e'), ObjectId('661244d7515b6c8b4f554c5f')], acknowledged=True)

## 8.Find
1. In MongoDB we use the find and findOne methods to find data in a collection.
Just like the SELECT statement is used to find data in a table in a MySQL database
Find One
2. To select data from a collection in MongoDB, we can use the find_one() method.

3. The find_one() method returns the first occurrence in the selection

In [15]:
res=collection.find({"Name":"Ram"})

In [16]:
for i in res:
    print(i)

{'_id': ObjectId('661244d7515b6c8b4f554c5f'), 'Name': 'Ram', 'Course': 'MBA', 'RollNo': 3, 'Age': 25}

In [17]:
res=collection.find({"Age":24})

In [18]:
for i in res:
    print(i)

{'_id': ObjectId('661244d7515b6c8b4f554c5e'), 'Name': 'Himanshu', 'Course': 'BCB', 'RollNo': 2, 'Age': 24}

In [19]:
res=collection.find({"Age":24})

In [20]:
for i in res:
    print(i['Name'])

Himanshu

In [21]:
res=collection.find_one({"Age":24})

In [22]:
res

{'_id': ObjectId('661244d7515b6c8b4f554c5e'),
 'Name': 'Himanshu',
 'Course': 'BCB',
 'RollNo': 2,
 'Age': 24}

In [23]:
res=collection.find_one({"Name":"Himanshu"})

In [24]:
res

{'_id': ObjectId('661244d7515b6c8b4f554c5a'),
 'Name': 'Himanshu',
 'Course': 'BCA',
 'RollNo': 1}

## Find All
1. To select data from a table in MongoDB, we can also use the find() method.

2. The find() method returns all occurrences in the selection.

3. The first parameter of the find() method is a query object. In this example we use an empty query object, which selects all documents in the collection.

4. No parameters in the find() method gives you the same result as SELECT * in MySQL.

In [25]:
res=collection.find({"Name":"Himanshu"})

In [26]:
for i in res:
    print(i)

{'_id': ObjectId('661244d7515b6c8b4f554c5a'), 'Name': 'Himanshu', 'Course': 'BCA', 'RollNo': 1}
{'_id': ObjectId('661244d7515b6c8b4f554c5b'), 'Name': 'Himanshu', 'Course': 'BCA', 'RollNo': 1, 'Age': 23}
{'_id': ObjectId('661244d7515b6c8b4f554c5e'), 'Name': 'Himanshu', 'Course': 'BCB', 'RollNo': 2, 'Age': 24}

In [27]:
res=collection.find({})

In [28]:
for i in res:
    print(i)

{'_id': ObjectId('6612449afe2095ac0725a2ca'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6612449afe2095ac0725a2cb'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6612449afe2095ac0725a2cc'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('6612449afe2095ac0725a2cd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6612449afe2095ac0725a2ce'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6612449afe2095ac0725a2cf'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('6612449afe2095ac0725a2d0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6612449afe2095ac0725a2d1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6612449afe2095ac0725a2d2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6612449afe2095ac0725a2d3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6612449afe2095ac0725a2d4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6612449afe2095ac0725a2d5'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': ObjectId('661244d7515b6c8b4f554c5a'), 'Name': 'Himanshu', 'Course': 'BCA', 'RollNo': 1}
{'_id': ObjectId('661244d7515b6c8b4f554c5b'), 'Name': 'Himanshu', 'Course': 'BCA', 'RollNo': 1, 'Age': 23}
{'_id': ObjectId('661244d7515b6c8b4f554c5c'), 'Gender': 'Male', 'Address': 'Delhi'}
{'_id': ObjectId('661244d7515b6c8b4f554c5d'), 'Hobbies': ['Cricket', 'Hockey'], 'Address': 'Delhi'}
{'_id': ObjectId('661244d7515b6c8b4f554c5e'), 'Name': 'Himanshu', 'Course': 'BCB', 'RollNo': 2, 'Age': 24}
{'_id': ObjectId('661244d7515b6c8b4f554c5f'), 'Name': 'Ram', 'Course': 'MBA', 'RollNo': 3, 'Age': 25}

## 11.Delete Document
1. To delete one document, we use the delete_one() method.

2. The first parameter of the delete_one() method is a query object defining which document to delete.

3. Note: If the query finds more than one document, only the first occurrence is deleted.

In [29]:
res=collection.delete_one({"Name":"Himanshu"})

## 12. Delete Many Documents¶
1. To delete more than one document, use the delete_many() method.

2. The first parameter of the delete_many() method is a query object defining which documents to delete

In [30]:
res=collection.delete_many({"Name":"Himanshu"})

In [31]:
doc3={"Name":"Himanshu","Course":"BCB","RollNo":2,"Age":24}

In [32]:
doc4={"Name":"Ram","Course":"MBA","RollNo":3,"Age":24}

In [33]:
collection.insert_many([doc3,doc4])

InsertManyResult([ObjectId('661244d8515b6c8b4f554c60'), ObjectId('661244d8515b6c8b4f554c61')], acknowledged=True)

In [34]:
res=collection.find({})

In [35]:
for i in res:
    print(i)

{'_id': ObjectId('6612449afe2095ac0725a2ca'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6612449afe2095ac0725a2cb'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6612449afe2095ac0725a2cc'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('6612449afe2095ac0725a2cd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6612449afe2095ac0725a2ce'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6612449afe2095ac0725a2cf'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('6612449afe2095ac0725a2d0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6612449afe2095ac0725a2d1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6612449afe2095ac0725a2d2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6612449afe2095ac0725a2d3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6612449afe2095ac0725a2d4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6612449afe2095ac0725a2d5'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': ObjectId('661244d7515b6c8b4f554c5c'), 'Gender': 'Male', 'Address': 'Delhi'}
{'_id': ObjectId('661244d7515b6c8b4f554c5d'), 'Hobbies': ['Cricket', 'Hockey'], 'Address': 'Delhi'}
{'_id': ObjectId('661244d7515b6c8b4f554c5f'), 'Name': 'Ram', 'Course': 'MBA', 'RollNo': 3, 'Age': 25}
{'_id': ObjectId('661244d8515b6c8b4f554c60'), 'Name': 'Himanshu', 'Course': 'BCB', 'RollNo': 2, 'Age': 24}
{'_id': ObjectId('661244d8515b6c8b4f554c61'), 'Name': 'Ram', 'Course': 'MBA', 'RollNo': 3, 'Age': 24}

## 13.Update¶
1. Update Collection
2. You can update a record, or document as it is called in MongoDB, by using the update_one() method.

3. The first parameter of the update_one() method is a query object defining which document to update.

4. Note: If the query finds more than one record, only the first occurrence is updated.
The second parameter is an object defining the new values of the document.

In [36]:
collection.update_one({"Age":25},{"$set":{"RollNo":7}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000020'), 'opTime': {'ts': Timestamp(1712473304, 17), 't': 32}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1712473304, 17), 'signature': {'hash': b'P,\xb2\x82d\xd3TT\x9f\r\xc9\x86aAO\xbc\xcc\xb05\xf8', 'keyId': 7312841627200913414}}, 'operationTime': Timestamp(1712473304, 17), 'updatedExisting': True}, acknowledged=True)

In [37]:
res=collection.find({})

In [38]:
for i in res:
    print(i)

{'_id': ObjectId('6612449afe2095ac0725a2ca'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6612449afe2095ac0725a2cb'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6612449afe2095ac0725a2cc'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('6612449afe2095ac0725a2cd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6612449afe2095ac0725a2ce'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6612449afe2095ac0725a2cf'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('6612449afe2095ac0725a2d0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6612449afe2095ac0725a2d1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6612449afe2095ac0725a2d2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6612449afe2095ac0725a2d3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6612449afe2095ac0725a2d4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6612449afe2095ac0725a2d5'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': ObjectId('661244d7515b6c8b4f554c5c'), 'Gender': 'Male', 'Address': 'Delhi'}
{'_id': ObjectId('661244d7515b6c8b4f554c5d'), 'Hobbies': ['Cricket', 'Hockey'], 'Address': 'Delhi'}
{'_id': ObjectId('661244d7515b6c8b4f554c5f'), 'Name': 'Ram', 'Course': 'MBA', 'RollNo': 7, 'Age': 25}
{'_id': ObjectId('661244d8515b6c8b4f554c60'), 'Name': 'Himanshu', 'Course': 'BCB', 'RollNo': 2, 'Age': 24}
{'_id': ObjectId('661244d8515b6c8b4f554c61'), 'Name': 'Ram', 'Course': 'MBA', 'RollNo': 3, 'Age': 24}

In [39]:
collection.update_many({"Name":"Himanshu"},{"$inc":{"Age":5}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000020'), 'opTime': {'ts': Timestamp(1712473304, 19), 't': 32}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1712473304, 19), 'signature': {'hash': b'P,\xb2\x82d\xd3TT\x9f\r\xc9\x86aAO\xbc\xcc\xb05\xf8', 'keyId': 7312841627200913414}}, 'operationTime': Timestamp(1712473304, 19), 'updatedExisting': True}, acknowledged=True)

In [40]:
res=collection.find({})

In [41]:
for i in res:
    print(i)

{'_id': ObjectId('6612449afe2095ac0725a2ca'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6612449afe2095ac0725a2cb'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6612449afe2095ac0725a2cc'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('6612449afe2095ac0725a2cd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6612449afe2095ac0725a2ce'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6612449afe2095ac0725a2cf'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('6612449afe2095ac0725a2d0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6612449afe2095ac0725a2d1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6612449afe2095ac0725a2d2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6612449afe2095ac0725a2d3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6612449afe2095ac0725a2d4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6612449afe2095ac0725a2d5'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': ObjectId('661244d7515b6c8b4f554c5c'), 'Gender': 'Male', 'Address': 'Delhi'}
{'_id': ObjectId('661244d7515b6c8b4f554c5d'), 'Hobbies': ['Cricket', 'Hockey'], 'Address': 'Delhi'}
{'_id': ObjectId('661244d7515b6c8b4f554c5f'), 'Name': 'Ram', 'Course': 'MBA', 'RollNo': 7, 'Age': 25}
{'_id': ObjectId('661244d8515b6c8b4f554c60'), 'Name': 'Himanshu', 'Course': 'BCB', 'RollNo': 2, 'Age': 29}
{'_id': ObjectId('661244d8515b6c8b4f554c61'), 'Name': 'Ram', 'Course': 'MBA', 'RollNo': 3, 'Age': 24}

In [42]:
collection.update_many({}, {"$rename": {"Age": "AGE"}})

UpdateResult({'n': 31, 'electionId': ObjectId('7fffffff0000000000000020'), 'opTime': {'ts': Timestamp(1712473305, 3), 't': 32}, 'nModified': 3, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1712473305, 3), 'signature': {'hash': b'Do\xcb\xe8\x0b\xba\x068\xb4\xb1\xb7&\x90\x82<\x96\xda$\xd7"', 'keyId': 7312841627200913414}}, 'operationTime': Timestamp(1712473305, 3), 'updatedExisting': True}, acknowledged=True)

In [43]:
res=collection.find({})

In [44]:
for i in res:
    print(i)

{'_id': ObjectId('6612449afe2095ac0725a2ca'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6612449afe2095ac0725a2cb'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6612449afe2095ac0725a2cc'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('6612449afe2095ac0725a2cd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6612449afe2095ac0725a2ce'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6612449afe2095ac0725a2cf'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('6612449afe2095ac0725a2d0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6612449afe2095ac0725a2d1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6612449afe2095ac0725a2d2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6612449afe2095ac0725a2d3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6612449afe2095ac0725a2d4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6612449afe2095ac0725a2d5'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': ObjectId('661244d7515b6c8b4f554c5c'), 'Gender': 'Male', 'Address': 'Delhi'}
{'_id': ObjectId('661244d7515b6c8b4f554c5d'), 'Hobbies': ['Cricket', 'Hockey'], 'Address': 'Delhi'}
{'_id': ObjectId('661244d7515b6c8b4f554c5f'), 'Name': 'Ram', 'Course': 'MBA', 'RollNo': 7, 'AGE': 25}
{'_id': ObjectId('661244d8515b6c8b4f554c60'), 'Name': 'Himanshu', 'Course': 'BCB', 'RollNo': 2, 'AGE': 29}
{'_id': ObjectId('661244d8515b6c8b4f554c61'), 'Name': 'Ram', 'Course': 'MBA', 'RollNo': 3, 'AGE': 24}

In [45]:
collection.update_many({}, {"$unset": {"AGE": ""}})

UpdateResult({'n': 31, 'electionId': ObjectId('7fffffff0000000000000020'), 'opTime': {'ts': Timestamp(1712473305, 9), 't': 32}, 'nModified': 3, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1712473305, 9), 'signature': {'hash': b'Do\xcb\xe8\x0b\xba\x068\xb4\xb1\xb7&\x90\x82<\x96\xda$\xd7"', 'keyId': 7312841627200913414}}, 'operationTime': Timestamp(1712473305, 9), 'updatedExisting': True}, acknowledged=True)

In [46]:
res=collection.find({})

In [47]:
for i in res:
    print(i)

{'_id': ObjectId('6612449afe2095ac0725a2ca'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6612449afe2095ac0725a2cb'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6612449afe2095ac0725a2cc'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('6612449afe2095ac0725a2cd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6612449afe2095ac0725a2ce'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6612449afe2095ac0725a2cf'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('6612449afe2095ac0725a2d0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6612449afe2095ac0725a2d1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6612449afe2095ac0725a2d2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6612449afe2095ac0725a2d3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6612449afe2095ac0725a2d4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6612449afe2095ac0725a2d5'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': ObjectId('661244d7515b6c8b4f554c5c'), 'Gender': 'Male', 'Address': 'Delhi'}
{'_id': ObjectId('661244d7515b6c8b4f554c5d'), 'Hobbies': ['Cricket', 'Hockey'], 'Address': 'Delhi'}
{'_id': ObjectId('661244d7515b6c8b4f554c5f'), 'Name': 'Ram', 'Course': 'MBA', 'RollNo': 7}
{'_id': ObjectId('661244d8515b6c8b4f554c60'), 'Name': 'Himanshu', 'Course': 'BCB', 'RollNo': 2}
{'_id': ObjectId('661244d8515b6c8b4f554c61'), 'Name': 'Ram', 'Course': 'MBA', 'RollNo': 3}

In [48]:
collection.update_many({"Name":"Himanshu"},{"$mul":{"RollNo":5}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000020'), 'opTime': {'ts': Timestamp(1712473305, 10), 't': 32}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1712473305, 10), 'signature': {'hash': b'Do\xcb\xe8\x0b\xba\x068\xb4\xb1\xb7&\x90\x82<\x96\xda$\xd7"', 'keyId': 7312841627200913414}}, 'operationTime': Timestamp(1712473305, 10), 'updatedExisting': True}, acknowledged=True)

In [49]:
res=collection.find({})

In [50]:
for i in res:
    print(i)

{'_id': ObjectId('6612449afe2095ac0725a2ca'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6612449afe2095ac0725a2cb'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6612449afe2095ac0725a2cc'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('6612449afe2095ac0725a2cd'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6612449afe2095ac0725a2ce'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6612449afe2095ac0725a2cf'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('6612449afe2095ac0725a2d0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6612449afe2095ac0725a2d1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6612449afe2095ac0725a2d2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6612449afe2095ac0725a2d3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6612449afe2095ac0725a2d4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6612449afe2095ac0725a2d5'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': ObjectId('661244d7515b6c8b4f554c5c'), 'Gender': 'Male', 'Address': 'Delhi'}
{'_id': ObjectId('661244d7515b6c8b4f554c5d'), 'Hobbies': ['Cricket', 'Hockey'], 'Address': 'Delhi'}
{'_id': ObjectId('661244d7515b6c8b4f554c5f'), 'Name': 'Ram', 'Course': 'MBA', 'RollNo': 7}
{'_id': ObjectId('661244d8515b6c8b4f554c60'), 'Name': 'Himanshu', 'Course': 'BCB', 'RollNo': 10}
{'_id': ObjectId('661244d8515b6c8b4f554c61'), 'Name': 'Ram', 'Course': 'MBA', 'RollNo': 3}

# Delete All Documents in a Collection¶
1. To delete all documents in a collection, pass an empty query object to the delete_many() method:

In [51]:
res=collection.delete_many({})

In [52]:
res=collection.count_documents({})

In [53]:
print(res)

0

In [54]:
# Return a list of your system's databases:
print(cluster.list_database_names())

['test', 'admin', 'local']

In [55]:
# Or you can check a specific database by name:

# Check if "mydatabase" exists:

dblist = cluster.list_database_names()
if "test" in dblist:
    print("The database exists.")

The database exists.

## A collection in MongoDB is the same as a table in SQL databases.¶
1. To create a collection in MongoDB, use database object and specify the name of the collection you want to create.

2. MongoDB will create the collection if it does not exist.

In [56]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = collection.insert_many(mylist)

In [57]:
#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('661244d8515b6c8b4f554c62'), ObjectId('661244d8515b6c8b4f554c63'), ObjectId('661244d8515b6c8b4f554c64'), ObjectId('661244d8515b6c8b4f554c65'), ObjectId('661244d8515b6c8b4f554c66'), ObjectId('661244d8515b6c8b4f554c67'), ObjectId('661244d8515b6c8b4f554c68'), ObjectId('661244d8515b6c8b4f554c69'), ObjectId('661244d8515b6c8b4f554c6a'), ObjectId('661244d8515b6c8b4f554c6b'), ObjectId('661244d8515b6c8b4f554c6c'), ObjectId('661244d8515b6c8b4f554c6d')]

7. Insert Multiple Documents, with Specified IDs¶
## If you do not want MongoDB to assign unique ids for you document, you can specify the _id field when you insert the document(s).
## Remember that the values has to be unique. Two documents cannot have the same _id.

In [58]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = collection.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

## Return Only Some Fields
1. The second parameter of the find() method is an object describing which fields to include in the result.

2. This parameter is optional, and if omitted, all fields will be included in the result.

3. n this case, it excludes the "_id" field ("_id": 0) and includes the "name" and "address" fields ("name": 1, "address": 1).

In [59]:
for x in collection.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [60]:
myquery = { "address": { "$gt": "S" } }

mydoc = collection.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('661244d8515b6c8b4f554c64'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('661244d8515b6c8b4f554c67'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('661244d8515b6c8b4f554c69'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('661244d8515b6c8b4f554c6d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [61]:
myquery = { "address": { "$lt": "S" } }

mydoc = collection.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('661244d8515b6c8b4f554c62'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('661244d8515b6c8b4f554c63'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('661244d8515b6c8b4f554c65'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('661244d8515b6c8b4f554c66'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('661244d8515b6c8b4f554c68'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('661244d8515b6c8b4f554c6a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('661244d8515b6c8b4f554c6b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('661244d8515b6c8b4f554c6c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}

# Filter With Regular Expressions
1. You can also use regular expressions as a modifier.

2. Regular expressions can only be used to query strings.

3. To find only the documents where the "address" field starts with the letter "S", use the regular expression {"$regex": "^S"}:

In [62]:
myquery = { "address": { "$regex": "^S" } }

mydoc = collection.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('661244d8515b6c8b4f554c67'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('661244d8515b6c8b4f554c6d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

# Sort
1. Sort the Result
2. Use the sort() method to sort the result in ascending or descending order.

3. The sort() method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default direction).

In [63]:
mydoc = collection.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('661244d8515b6c8b4f554c62'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('661244d8515b6c8b4f554c6a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('661244d8515b6c8b4f554c66'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('661244d8515b6c8b4f554c6c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('661244d8515b6c8b4f554c63'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('661244d8515b6c8b4f554c64'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('661244d8515b6c8b4f554c67'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('661244d8515b6c8b4f554c65'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('661244d8515b6c8b4f554c68'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('661244d8515b6c8b4f554c69'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('661244d8515b6c8b4f554c6d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('661244d8515b6c8b4f554c6b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

## Sort Descending
1. Use the value -1 as the second parameter to sort descending.

2. sort("name", 1) #ascending

3. sort("name", -1) #descending

In [64]:
mydoc = collection.find().sort("name", -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('661244d8515b6c8b4f554c6b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('661244d8515b6c8b4f554c6d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('661244d8515b6c8b4f554c69'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('661244d8515b6c8b4f554c68'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('661244d8515b6c8b4f554c65'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('661244d8515b6c8b4f554c67'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('661244d8515b6c8b4f554c64'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('661244d8515b6c8b4f554c63'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('661244d8515b6c8b4f554c6c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('661244d8515b6c8b4f554c66'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('661244d8515b6c8b4f554c6a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('661244d8515b6c8b4f554c62'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [65]:
res=collection.find({})

In [66]:
for i in res:
    print(i)

{'_id': ObjectId('661244d8515b6c8b4f554c62'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('661244d8515b6c8b4f554c63'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('661244d8515b6c8b4f554c64'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('661244d8515b6c8b4f554c65'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('661244d8515b6c8b4f554c66'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('661244d8515b6c8b4f554c67'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('661244d8515b6c8b4f554c68'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('661244d8515b6c8b4f554c69'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('661244d8515b6c8b4f554c6a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('661244d8515b6c8b4f554c6b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('661244d8515b6c8b4f554c6c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('661244d8515b6c8b4f554c6d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

# Limit
1. Limit the Result
2. To limit the result in MongoDB, we use the limit() method.

3. The limit() method takes one parameter, a number defining how many documents to return.

4. Consider you have a "customers" collection

In [67]:
myresult = collection.find().limit(5)

#print the result:
for x in myresult:
    print(x)

{'_id': ObjectId('661244d8515b6c8b4f554c62'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('661244d8515b6c8b4f554c63'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('661244d8515b6c8b4f554c64'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('661244d8515b6c8b4f554c65'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('661244d8515b6c8b4f554c66'), 'name': 'Betty', 'address': 'Green Grass 1'}

## 9.Query
1. Filter the Result
2. When finding documents in a collection, you can filter the result by using a query object.

3. The first argument of the find() method is a query object, and is used to limit the search.

In [68]:
myquery = { "address": "Apple st 652" }

mydoc = collection.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('661244d8515b6c8b4f554c62'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [69]:
res=collection.find({})

In [70]:
for i in res:
    print(i)

{'_id': ObjectId('661244d8515b6c8b4f554c62'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('661244d8515b6c8b4f554c63'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('661244d8515b6c8b4f554c64'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('661244d8515b6c8b4f554c65'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('661244d8515b6c8b4f554c66'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('661244d8515b6c8b4f554c67'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('661244d8515b6c8b4f554c68'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('661244d8515b6c8b4f554c69'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('661244d8515b6c8b4f554c6a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('661244d8515b6c8b4f554c6b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('661244d8515b6c8b4f554c6c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('661244d8515b6c8b4f554c6d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## Update Collection¶
1. You can update a record, or document as it is called in MongoDB, by using the update_one() method.

2. The first parameter of the update_one() method is a query object defining which document to update.

3. Note: If the query finds more than one record, only the first occurrence is updated.
The second parameter is an object defining the new values of the document.

In [71]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

collection.update_one(myquery, newvalues)

#print "customers" after the update:
for x in collection.find():
    print(x)

{'_id': ObjectId('661244d8515b6c8b4f554c62'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('661244d8515b6c8b4f554c63'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('661244d8515b6c8b4f554c64'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('661244d8515b6c8b4f554c65'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('661244d8515b6c8b4f554c66'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('661244d8515b6c8b4f554c67'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('661244d8515b6c8b4f554c68'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('661244d8515b6c8b4f554c69'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('661244d8515b6c8b4f554c6a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('661244d8515b6c8b4f554c6b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('661244d8515b6c8b4f554c6c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('661244d8515b6c8b4f554c6d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## Update Many
1. To update all documents that meets the criteria of the query, use the update_many() method.

In [72]:
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = collection.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")
#print "customers" after the update:
for x in collection.find():
    print(x)

4 documents updated.
{'_id': ObjectId('661244d8515b6c8b4f554c62'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('661244d8515b6c8b4f554c63'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('661244d8515b6c8b4f554c64'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('661244d8515b6c8b4f554c65'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('661244d8515b6c8b4f554c66'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('661244d8515b6c8b4f554c67'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('661244d8515b6c8b4f554c68'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('661244d8515b6c8b4f554c69'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('661244d8515b6c8b4f554c6a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('661244d8515b6c8b4f554c6b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('661244d8515b6c8b4f554c6c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('661244d8515b6c8b4f554c6d'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Minnie', 'address': 'Sideway 1633'}

## Drop Collection¶
1. Delete Collection
2. You can delete a table, or collection as it is called in MongoDB, by using the drop() method.

In [73]:
collection.drop()

In [74]:
res=collection.find({})

In [75]:
for i in res:
    print(i)